/*  setting the website width */
.container {
    max-width: 1138px !important;
}



/* ==============================
            COMMON CSS
==================================*/

body {
    font-family: Poppins;
}

/*=====style of  heading-1===== */
.heading-1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    /* line-height: 120px; */
    color: #22262A;
}

/*=====style of subtitle-1===== */
.subtitle-1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
}


/*=====style of  heading-2=====*/
.heading-2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #22262A;
}

/*=====style of subtitle-2 || paragraph-2=====*/
.subtitle-2,
.para-2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #22262A;
}

/*=====style of button-1=====*/
.button-1 {
    width: 147px;
    height: 35px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    background: #22262A;
    text-transform: uppercase;
    transition: .3s ease;
}

.button-1:hover {
    background-color: transparent;
    color: #000;
}

/*=====style of card-subtitle=====*/
.card-subtitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

/*=====style of card-subtitle=====*/
.my-card {
    cursor: pointer;
    transition: .3s ease;
}

.my-card .image {
    overflow: hidden;
    margin-bottom: 38px;
}

.my-card .image:hover img {
    transform: scale(1.3);
}

.card-Header {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

/*=====style of card-price=====*/

.card-price-black {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

.card-price-black.line-over-txt {
    text-decoration: line-through;
}

.card-price-red {
    color: #CF2929;
}


/* ===============================
        CODES OF HEADER SECTION 
==================================*/
.header-bg {
    /* background-color: #E5E5E5; */
    background-color: #FFFFFF;
}

/* ==codes of hamberger icon as button== */
.toggle-button {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(232, 19, 19);
    border-radius: 10px;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 0;
}

/* ==when text as logo== */
.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    width: 20%;
}

.navbar-links {
    height: 100%;
    width: 75%;
}

.navbar-links ul {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    font-weight: 400;
    color: #22262A;
    font-size: 18px;
    padding: 1rem;
    text-transform: uppercase;
    transition: .3s ease;
}

.navbar-links li:hover a {
    color: #8b8d8f;
}


/* =====================================
            HERO SECTION STYLE
========================================*/

.hero-bg {
    background: url(../media/heroImage.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 63px);
}

.hero-content {
    position: absolute;
    bottom: 80px;
}


.hero-content .btn-group {
    margin-top: 20px;
}

.hero-content .btn-group .button-1 {
    margin-right: 30px;
}




/* ==================================
        CATAGORY SECTION CODES
====================================*/

#catagory {
    margin-top: 125px;
    margin-bottom: 125PX;
}



/* ==================================
        WOMEN SECTION CODES
====================================*/
#women {
    margin-bottom: 125px;
}

.mb-70 {
    margin-bottom: 70px;
}



/* ==================================
        MEN SECTION CODES
====================================*/

#men {
    margin-bottom: 110px
}


/* ==================================
        AVONE SECTION CODES
====================================*/
#avone {
    margin-bottom: 120px;
}

.mb-60 {
    margin-bottom: 60px;
}

#avone .left>img {
    margin-top: 87px;
}


/* ==================================
        TACHEN SECTION CODES
====================================*/
.tachen-bg {
    background-image: url(../media/tachen.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.tachen-bg .tachen-content {
    position: absolute;
    top: 434px;
    right: 90px;
}

.tachen-bg .tachen-btn {
    width: 214px;
    height: 35px;
}



/* ==================================
        FOOTER SECTION CODES
====================================*/
.footer-bg {
    background-color: #F2F8FC;
    padding: 115px 0 100px;
}

.footer-bg .f-para-1 {
    text-align: left;
    margin-top: 17px;
    margin-bottom: 40px;
}

.footer-bg .location {
    text-align: left;
    margin-bottom: 16px;
}

.footer-bg .location>i {
    margin-right: 25px;
    color: #6f6b6b;
    font-size: 15px;
}

.footer-bg .f-gmail {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #000;
    display: inline-block;
    padding-bottom: 3px;
}

.footer-bg .f-number {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.footer-bg .share-button ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;

}

.footer-bg .share-button ul li {
    margin-right: 10px;

}

.footer-bg .share-button ul li a {
    color: #000000;
    font-size: 18px;
    display: inline-block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
}

.footer-bg .footer-header {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #22262A;
    margin-bottom: 25px;
}

.footer-bg .form {
    margin-bottom: 70px;
}

.footer-bg .form form input {
    background-color: #fff;
    position: relative;
    border: none;
    outline: none;
    padding: 10px 25px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 5px;
}

.footer-bg .form form button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    top: 72px;
    right: 30px;
    cursor: pointer;
}

.footer-bg .footer-list .fmb-25 {
    margin-bottom: 25px;
    text-transform: uppercase;
}

.footer-bg .footer-list ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-bg .footer-list ul li {
    margin-bottom: 10px;
}

.footer-bg .footer-list ul li a {
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease;
}

.footer-bg .footer-list ul li:hover a {
    color: #b8b4b4;
    font-size: 17px;
    text-transform: capitalize;
}

#footer .copy-right {
    padding: 35px 0;
    background: #E7F5F8;
}

#footer .cpyright {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 0;
}

/* ====================================
         RESPONSIVE CODES START
========================================*/


/* ==================================
    HEADER SECTION RESPONSIVE CODES
=====================================*/
@media (max-width: 763px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        z-index: 100;
    }

    .brand-title {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        padding-top: 10px;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 0;
    }

    .navbar-links li:hover a {
        color: #8b8d8f;
        background-color: #fff;
    }

    .navbar-links.active {
        display: flex;
    }
}




/* ==================================
    HERO SECTION RESPONSIVE CODES
=====================================*/

@media (max-width:1199px) {
    #hero .heading-1 {
        font-size: 70px;
    }

    #hero .subtitle-1 {
        font-size: 15px;
    }
}

@media (max-width:1060px) {
    #hero .heading-1 {
        font-size: 60px;
    }

    #hero .subtitle-1 {
        font-size: 14px;
    }
}

@media (max-width:930px) {
    #hero .heading-1 {
        font-size: 50px;
    }

    #hero .subtitle-1 {
        font-size: 14px;
    }

    .hero-content .btn-group .button-1 {
        margin-right: 20px;
    }

    .hero-content .button-1 {
        width: 100px;
        height: 35px;
        font-weight: 400;
        font-size: 13px;
    }
}

@media (max-width:850px) {

    .hero-content {
        padding-left: 0;
    }

    #hero .heading-1 {
        font-size: 40px;
    }

    #hero .subtitle-1 {
        font-size: 13px;
    }

}

@media (max-width:767px) {
    #hero .heading-1 {
        font-size: 28px;
    }

    #hero .subtitle-1 {
        font-size: 13px;
        font-weight: 300;
    }
}

@media (max-width:575px) {
    #hero .res-class {
        display: flex;
        flex-direction: column;
    }

    #hero .res-class .button-1 {
        margin-bottom: 10px;
    }
}






/* ==================================
    CATAGORY SECTION RESPONSIVE CODES
=====================================*/

@media (min-width:769px) {
    #catagory .pr-15 {
        padding-right: 15px;
    }

    #catagory .pl-30 {
        padding-left: 15px;
    }

    #catagory .mb-25 {
        margin-bottom: 25px;
    }
}

@media (max-width:768px) {
    #catagory .mb-25 {
        margin-bottom: 25px;
    }

    #catagory .MB-25 {
        margin-bottom: 25px;
    }

    #catagory .pr-12 {
        padding-right: 12.5px;
    }

    #catagory .pl-12 {
        padding-left: 12.5px;
    }
}

@media (max-width:536px) {
    #catagory .pr-12 {
        padding-right: 8px;
    }

    #catagory .pl-12 {
        padding-left: 8px;
    }
}






/* ==================================
    AVON  SECTION RESPONSIVE CODES
=====================================*/
#avone .right .small-image {
    position: absolute;
    right: -38px;
    top: -65px;
    background-color: #fff;
    padding-top: 22px;
    padding-left: 25px;
}

#avone .right .positioning-txt {
    position: absolute;
    top: 175px;
    right: 220px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 2px solid #22262A;
    padding-bottom: 3px;
    cursor: pointer;
}

@media (max-width:767px) {
    #avone .right .small-image {
        right: 0px;
        top: -190px;
    }

    #avone .right .positioning-txt {
        right: 260px;
        top: 70px;
    }

    #avone .left.Mb-25 {
        margin-bottom: 25px;
    }
}





/* ==================================
    TACHEN SECTION RESPONSIVE CODES
=====================================*/

@media (max-width:1030px) {
    .tachen-bg .tachen-content .heading-1 {
        font-size: 60px;
    }
}

@media (max-width:820px) {
    .tachen-bg .tachen-content .heading-1 {
        font-size: 50px;
    }
}

@media (max-width:768px) {
    .tachen-bg {
        margin-top: 100px;
    }

    .tachen-bg .tachen-content .heading-1 {
        font-size: 40px;
    }

    .tachen-bg .tachen-btn {
        width: 160px;
        height: 35px;
        font-size: 14px;
    }
}

@media (max-width:670px) {
    .tachen-bg .tachen-content .heading-1 {
        font-size: 28px;
    }

    .tachen-bg .tachen-content .subtitle-1 {
        font-size: 14px;
    }

    .tachen-bg .tachen-btn {
        width: 140px;
        height: 35px;
        font-size: 12px;
        font-weight: 300;
    }
}



/* ==================================
    FOOTER SECTION RESPONSIVE CODES
=====================================*/

@media(max-width:767px) {
    .footer-bg .fmb-30 {
        margin-bottom: 30px;
    }
}